body {
    padding-top: 50px;
}

.login-form > div {
    margin-top: 10px;
}

.todo-finished {
    text-decoration: line-through;
    font-style: italic;
    color: #aaa;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #4caf50;
    color: white;
    border: 1px solid #4caf50;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}
