{% extends "layout.html" %}

{% block content %}
<div class="col-md-4 col-md-offset-4">
    <h1>Todo List:</h1>
    <table class="table table-striped">
        <th>#</th>
        <th>User</th>
        <th>Description</th>
        <th>Status</th>
        <th>Delete</th>
        {% for todo in todos %}
        <tr>
            <td class="{{ (todo.status == 1)?'todo-finished':'' }}">{{ todo.id }}</td>
            <td class="{{ (todo.status == 1)?'todo-finished':'' }}">{{ todo.user_id }}</td>
            <td>
                <a class="{{ (todo.status == 1)?'todo-finished':'' }}"
                   href="{{ app.request.baseurl }}/todo/{{ todo.id }}">
                    {{ todo.description }}
                </a>
            </td>
            <td>
                {% if todo.status != 1 %}
                <form method="post" action="{{ app.request.baseurl }}/todo/finish/{{ todo.id }}">
                    <button type="submit" class="finish">finish</button>
                </form>
                {% endif %}
            </td>
            <td>
                <form method="post" action="{{ app.request.baseurl }}/todo/delete/{{ todo.id }}">
                    <button type="submit" class="btn btn-xs btn-danger"><span
                            class="glyphicon glyphicon-remove glyphicon-white"></span></button>
                </form>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <form method="post" action="{{ app.request.baseurl }}/todo/add">
                <td colspan="3">
                    <input type="textbox" name="description" class="small-6 small-center" placeholder="Description...">
                </td>
                <td></td>
                <td>
                    <button type="submit" class="btn btn-sm btn-primary">Add</button>
                </td>
            </form>
        </tr>
    </table>
    {% if totalPages >= 1 %}
    <div class="pagination">
        {% if currentPage > 1 %}
        <a href="/todo?page={{ currentPage - 1 }}">&laquo;</a>
        {% else %}
        <a href="#">&laquo;</a>
        {% endif %}

        {% for i in range(1, totalPages) %}
        <a href="/todo?page={{i}}" class="{{ i == currentPage ? 'active' : ''}}">{{i}}</a>
        {% endfor %}

        {% if currentPage < totalPages %}
        <a href="/todo?page={{ currentPage + 1 }}">&raquo;</a>
        {% else %}
        <a href="#">&raquo;</a>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}
